<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<select id="rememberInfo" resultType="member">
select * from member 
where userid = (select userid from remember_login where sessionid = #{sessionid})
</select>

<delete id="rememberRelease">
delete from remember_login
where userid = #{userid} and sessionid = #{sessionid}
</delete>


<insert id="rememberKeep">
insert into remember_login (userid, sessionid)
values ( #{userid}, #{sessionid} )
</insert>

<!-- 회원정보 변경저장 -->
<update id="update">
update member set name = #{name}, gender = #{gender}, email = #{email}
				, phone = #{phone, jdbcType=VARCHAR}
				, birth = #{birth, jdbcType=VARCHAR}
				, profile = #{profile, jdbcType=VARCHAR}
				, post = #{post, jdbcType=VARCHAR}, address = #{address, jdbcType=VARCHAR}
where userid = #{userid}			
</update>

<!-- 회원가입시 회원정보 신규저장 -->
<insert id="join">
insert into member 
( name, userid, userpw, gender, email, phone, birth, profile, post, address, social )
values( #{name}, #{userid}, #{userpw, jdbcType=VARCHAR}, #{gender}, #{email}
		, #{phone, jdbcType=VARCHAR}
		, #{birth, jdbcType=VARCHAR}, #{profile, jdbcType=VARCHAR}, #{post, jdbcType=VARCHAR}
		, #{address, jdbcType=VARCHAR}, #{social, jdbcType=VARCHAR} )	
</insert>

<!-- 해당 아이디의 비번 변경저장 -->
<update id="resetPassword">
update member set userpw = #{userpw}
where userid = #{userid} 
</update>

<!-- 아이디와 이메일이 일치하는 회원명 조회 -->
<select id="useridEmail" resultType="string">
select name from member 
where userid = #{userid} and email = #{email}
</select>

<!-- 해당 아이디의 회원정보 조회 -->
<select id="info" resultType="member">
select * from member where userid = #{userid}
</select>

<select id="loginTest" resultType="member">
select * from member where userid = #{userid}
</select>

<insert id="joinTest">
insert into member ( name, userid, userpw, email )
values ( #{name}, #{userid}, #{userpw}, #{email} )
</insert>

</mapper>